.secondary {
    .form_container {
        background-color: $colorWhite;
        border-radius: .3rem;
        box-shadow: 0 .3rem rgba(0, 0, 0, 0.2);
        padding: 1.8rem;
        margin-bottom: 1.2rem;
        text-align: center;
        .form-control {
            position: relative;
            margin-bottom: 1.8rem;
            input {
                border-radius: .3rem;
                border: 1.3px solid $ColorGrayishBlue;
                font-family: 'Poppins', sans-serif;
                font-size: .8rem;
                font-weight: 500;
                padding: .9rem 1.5rem;
                display: block;
                width: 100%;
                &:focus {
                    border: 1.3px solid $Blue;
                    outline: none;
                }
            }
            small {
                color: $Red;
                font-weight: 600;
                position: absolute;
                bottom: -1.2rem;
                right: 0;
                visibility: hidden;
                text-align: right;
            }
            img {
                visibility: hidden;
                position: absolute;
                top: 50%;
                right: .9rem;
                transform: translateY(-50%);
                height: 1.2rem;
            }
            &.error input {
                border-color: $Red;
                color: $Red;
                &::placeholder {
                    color: $Red
                }
            }
        }
        .error {
            small {
                visibility: visible;
            }
            img {
                visibility: visible;
            }
        }
        button {
            cursor: pointer;
            background-color: $Green;
            color: $colorWhite;
            margin-bottom: 1rem;
            border: 1.3px solid $Green;
            border-radius: .3rem;
            box-shadow: 0 .1rem $Green;
            display: block;
            font-family: 'Poppins', sans-serif;
            font-size: .8rem;
            font-weight: 500;
            padding: .9rem 1.5rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            width: 100%;
            &:focus {
                outline: none;
            }
            &:active {
                box-shadow: 0 0 $Green;
                transform: translateY(2px);
            }
        }
        small {
            display: block;
            color: $ColorGrayishBlue;
            font-size: .6rem;
            font-weight: 500;
            margin-top: .9rem;
            a {
                color: $Red;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}