/*Primary*/

$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
$colorWhite: hsl(0, 0%, 100%);

/*Accent*/

$Blue: hsl(248, 32%, 49%);

/*Neutral*/

$ColorDarkBlue: hsl(249, 10%, 26%);
$ColorGrayishBlue: hsl(246, 25%, 77%);
@mixin flex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
}