    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
    @import './variable';
    @import './container';
    @import './form';
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        background-color: $Red;
        background-image: url(../images/bg-intro-mobile.png);
    }
    
    img {
        max-width: 100%;
    }
    
    .attribution {
        font-size: 11px;
        text-align: center;
        background-color: transparent;
        color: $colorWhite;
    }
    
    .attribution a {
        color: $colorWhite;
        text-decoration: none;
    }
    
    @media (min-width: 62em) {
        body {
            background-image: url(../images/bg-intro-desktop.png);
        }
    }